<p id="notice"><%= notice %></p>
<div class="hakken">
  <h1 class="kiji-title">発見物一覧</h1><br>


  <% islands=["トリプー島", "マラクジャ島",
              "ランバイ島", "フェイジョア島",
              "クプアス島", "カニステル島", "ピタンガ島"] %>
  <table>
    <% islands.each do |island| %>
        <td><%= link_to island,island %></td>
    <% end %>
  </table>
  <br>


      <h1 class="kiji-title"><%= @hakken_addres %></h1>

      <table>
        <thead>
        <tr>
          <th></th>
          <th>発見物No.</th>
          <th>クエストNo.</th>
          <th>クエスト名</th>
          <th>時間帯</th>
          <th>発見物</th>
          <th>可能性</th>
          <th>輝石</th>
          <th>輝石数</th>
        </tr>
        </thead>

        <% line = 0 %>
        <tbody>
        <% @hakkens.each do |hakken| %>
            <% if hakken.island == @hakken_addres %>
            <% if line % 2 == 1 %>
                <tr class = "even">
            <% else %>
                <tr>
            <% end %>

                  <% if hakken.quest_number2 != "" %>
                      <td><%= image_tag(hakken.name)%></td>
                      <td><%= hakken.hakken_number %></td>
                      <td><%= hakken.quest_number%>,<%= hakken.quest_number2 %></td>
                      <td><%= hakken.quest_name %></td>
                      <td>昼/夜</td>
                      <td><%= hakken.name %></td>
                      <td><%= hakken.possibility %></td>
                      <td><%= hakken.kiseki_name %></td>
                      <td><%= hakken.kiseki_number %></td>
                    </tr>
                <% else %>
                      <td><%= image_tag(hakken.name) %></td>
                              <td><%= hakken.hakken_number %></td>
                      <td><%= hakken.quest_number %></td>
                      <td><%= hakken.quest_name %></td>
                      <td><%= hakken.day_night %></td>
                      <td><%= hakken.name %></td>
                      <td><%= hakken.possibility %></td>
                      <td><%= hakken.kiseki_name %></td>
                      <td><%= hakken.kiseki_number %></td>


                    </tr>
                <% end %>
                <% line = line + 1 %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>

      <br>


</div>