<p id="notice"><%= notice %></p>

<p>
  <strong>Quest number:</strong>
  <%= @hakken.quest_number %>
</p>

<p>
  <strong>Quest name:</strong>
  <%= @hakken.quest_name %>
</p>

<p>
  <strong>Day night:</strong>
  <%= @hakken.day_night %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hakken.name %>
</p>

<p>
  <strong>Possibility:</strong>
  <%= @hakken.possibility %>
</p>

<p>
  <strong>Kiseki name:</strong>
  <%= @hakken.kiseki_name %>
</p>

<p>
  <strong>Kiseki number:</strong>
  <%= @hakken.kiseki_number %>
</p>

<p>
  <strong>Island:</strong>
  <%= @hakken.island %>
</p>

<%= link_to 'Edit', edit_hakken_path(@hakken) %> |
<%= link_to 'Back', hakkens_path %>
