<p id="notice"><%= notice %></p>
<div class="bougu">
  <%= stylesheet_link_tag "pc/bougus_pc", media: "all" %>
  <h1 clas="kiji-title"><%= @bougu_type %></h1>
  <% @line=0 %>


  <!--レア度別 -->
  <% if ["☆1", "☆2", "☆3", "☆4"].include? @bougu_addres %>
      <table>
        <thead>
        <tr>
          <th>名前</th>
          <th>部位</th>
          <th>レア度</th>
          <th>防御力</th>
          <th>スキル</th>
          <th>技玉</th>
        </tr>
        </thead>
        <tbody>
        <% @bougus.each do |bougu| %>
            <% if bougu.rare==@bougu_addres then %>
                <% if @line % 2 == 1 %>
                    <tr class="even">
                <% else %>

                    <tr>
                <% end %>
                <td><%= bougu.name %></td>
                <td><%= bougu.position %></td>
                <td><%= bougu.rare %></td>
                <td><%= bougu.defence %></td>
                <td><%= bougu.skill %></td>
                <td><%= bougu.wazatama %></td>
                </tr>
                <% @line = @line +1 %>

            <% end %>
        <% end %>
  <% end %>
  </table>
  <!-- 部位別 -->
  <% if ["火", "水", "氷", "雷", "土"].include? @bougu_addres %>
      <table>
        <thead>
        <tr>
          <th>名前</th>
          <th>部位</th>
          <th>レア度</th>
          <th>防御力</th>
          <th>スキル</th>
          <th>技玉</th>
        </tr>
        </thead>
        <tbody>
        <% @bougus.each do |bougu| %>
            <% if bougu.wazatama.include? @bougu_addres then %>
                <% if @line % 2 == 1 %>
                    <tr class="even">
                <% else %>

                    <tr>
                <% end %>
                <td><%= bougu.name %></td>
                <td><%= bougu.position %></td>
                <td><%= bougu.rare %></td>
                <td><%= bougu.defence %></td>
                <td><%= bougu.skill %></td>
                <td><%= bougu.wazatama %></td>
                </tr>
                <% @line = @line +1 %>

            <% end %>
        <% end %>
  <% end %>
  </table>

  <!-- 剣士,ガンナー   シリーズ別 -->
  <% @serieses = ["", "ガーグァシリーズ", "訓練兵団シリーズ", "調査兵団シリーズ", "剣士ネッキーシリーズ", "立体機動装置シリーズ", "立体機動装置シリーズ改"] %>
  <% if ["kenshi", "gunner"].include? @bougu_addres %>
      <table>
        <thead>
        <tr>
          <th>シリーズ名</th>
          <th>部位</th>
          <th>名前</th>
          <th>レア度</th>
          <th>防御</th>
          <th>スキル</th>
          <th>技玉</th>
        </tr>
        </thead>

        <tbody>
        <% @bougus.each do |bougu| %>
            <% if bougu.arm_type == @bougu_addres %>
                <!--すでに表示したシリーズのものは無視-->
                <% if not @serieses.include? bougu.series %>
                    <% if @line % 2 == 1 %>
                        <tr class="even" style="border-top:3px solid #dddddd">
                    <% else %>
                        <tr style="border-top:3px solid #dddddd">
                    <% end %>
                    <td rowspan=5 style="background-color:white"><%= bougu.series %></td>
                    <% @bougus.each do |bougu2| %>
                        <% if bougu2.arm_type== @bougu_addres %>
                            <% if bougu2.series == bougu.series %>
                                <% if bougu2.position != "頭" %>
                                    <% if @line % 2 == 1 %>
                                        <tr class="even">
                                    <% else %>
                                        <tr>
                                    <% end %>
                                <% end %>
                                <td><%= bougu2.position %></td>
                                <td><%= bougu2.name %></td>
                                <td><%= bougu2.rare %></td>
                                <td><%= bougu2.defence %></td>
                                <td><%= bougu2.skill %></td>
                                <td><%= bougu2.wazatama %></td>
                                </tr>
                                <% @line = @line +1 %>

                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <% @serieses.push bougu.series %>
            <% end %>
        <% end %>
        </table>
  <% end %>



  <br>


</div>