
<p id="notice"><%= notice %></p>
<div class="arms">
  <% case @arm_type %>
  <% when "tachi" %>
    <h1 class="kiji-title">太刀一覧</h1>
  <% when "taiken" %>
      <h1 class="kiji-title">大剣一覧</h1>
  <% when "souken" %>
      <h1 class="kiji-title">双剣一覧</h1>
  <% when "hue" %>
      <h1 class="kiji-title">笛一覧</h1>
  <% when "hummer" %>
      <h1 class="kiji-title">ハンマー一覧</h1>
  <% when "gunlance" %>
      <h1 class="kiji-title">ガンランス一覧</h1>
  <% when "light" %>
      <h1 class="kiji-title">ライトボウガン一覧</h1>
  <% when "heavy" %>
      <h1 class="kiji-title">ヘビィボウガン一覧</h1>
  <% when "charge" %>
      <h1 class="kiji-title">チャージアックス一覧</h1>
  <% when "slush" %>
      <h1 class="kiji-title">スラッシュアックス一覧</h1>
  <% when "lance" %>
      <h1 class="kiji-title">ランス一覧</h1>
  <% when "yumi" %>
      <h1 class="kiji-title">弓一覧</h1>
  <% when "katate" %>
      <h1 class="kiji-title">片手剣一覧</h1>

  <% end %>



  <table>
    <thead>
    <tr>


      <th>名前</th>
      <th>スキル</th>
      <th>属性</th>
      <th>レア度</th>
      <th>最終攻撃力</th>

    </tr>
    </thead>
    <% @line=0 %>
    <tbody>
    <% @arms.each do |arm| %>
        <% if arm.arm_type==@arm_type then %>
            <% if @line % 2 == 1 %>
                <tr class="even">
            <%else%>
                <tr>
            <% end %>
            <td><%= arm.name %></td>
            <td><%= arm.skill %></td>
            <td><%= arm.zokusei %></td>
            <td><%= arm.rare %></td>
            <td><%= arm.max_attack %></td>
            </tr>
        <% end %>
        <% @line=@line+1 %>
    <% end %>
    </tbody>
  </table>

  <br>
</div>

