<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arm.name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @arm.skill %>
</p>

<p>
  <strong>Zokusei:</strong>
  <%= @arm.zokusei %>
</p>

<p>
  <strong>Rare:</strong>
  <%= @arm.rare %>
</p>

<p>
  <strong>Max level:</strong>
  <%= @arm.max_level %>
</p>

<p>
  <strong>Series:</strong>
  <%= @arm.series %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @arm.attack %>
</p>

<p>
  <strong>Max attack:</strong>
  <%= @arm.max_attack %>
</p>

<p>
  <strong>Item:</strong>
  <%= @arm.item %>
</p>

<p>
  <strong>Item number:</strong>
  <%= @arm.item_number %>
</p>

<p>
  <strong>Hyouka:</strong>
  <%= @arm.hyouka %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @arm.comment %>
</p>

<%= link_to 'Edit', edit_arm_path(@arm) %> |
<%= link_to 'Back', arms_path %>
