<!DOCTYPE html>
<html>
<head>
  <title>MonsterHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="header">
    <div class="header-left"><%= link_to image_tag('header.png') ,root_path %></div>
    <div class="header-right"></div>
  </div>



  <div class="sidebar">
    <%= link_to image_tag('logo.jpg',:width => "200px") ,root_path %>
    <h2>メニュー</h2>
    <ul class = "side1" style="list-style:none;">
      <li><h2>攻略メニュー</h2></li>
      <li><%= link_to 'トップページ', root_path %></li>
      <li><%= link_to '武器一覧',arms_path %></li>
      <li>防具一覧</li>
      <li><%= link_to 'モンスター一覧', monsters_path %></li>
      <li>スキル一覧</li>

    </ul>
    <ul class = "side2">
      <li><h2>初心者ガイド</h2></li>
      <li>序盤の進め方</li>
      <li>HRの上げ方</li>
      <li>強化素材</li>
      <li>狩玉の入手方法</li>
    </ul>
  </div>


<div class="header">
  <div class="header-left"><%= image_tag('header.png')  %></div>
  <table>
    <th><%= link_to "メニュー",:anchor =>"footer3" %></th>
    <th>人気記事</th>
    <th>Q&A</th>
    <th>検索</th>
  </table>

</div>

<body>







  <div class = "main">
    <%= yield %>
  </div>


  <div class="sidebar-right">
    <h2>人気記事</h2>
    <ul class = "ninki" style="list-style:none;">
    </ul>
  </div>



  <div class="footer" id="footer3">
    <h2>メニュー</h2>
    <table >
      <tr><td><%= link_to 'トップページ', root_path %></td></tr>
      <tr><td><%= link_to '武器一覧',arms_path %></td></tr>
      <tr><td>防具一覧</td></tr>
      <tr><td><%= link_to 'モンスター一覧', monsters_path %></td></tr>
      <tr><td>スキル一覧</td></tr>

    </table>
    <table class = "footer2">
      <th><h2>初心者ガイド</h2></th>
      <tr>序盤の進め方</tr>
      <tr>HRの上げ方</tr>
      <tr>強化素材</tr>
      <tr>狩玉の入手方法</tr>
    </table>
  </div>


</body>
</html>
