<!DOCTYPE html>
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/tablesorter.css"/>

<head>
  <title>MonsterHunter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="header" id="footer1">
  <div class="header-image"><%= image_tag('title.jpg') %></div>
  <table>
    <th><%= link_to "攻略DB", :anchor => "footer-menu" %></th>
    <th><%= link_to "人気記事", :anchor => "footer-ninki" %></th>
    <th><%= link_to "発見物", root_path %></th>
    <th><%= link_to "初心者ココ！", root_path %></th>
  </table>

</div>

<body>


<div class="main">
  <%= yield %>

</div>

<div class="footer">

<<<<<<< HEAD








<h1>発見物</h1>

<p class="footer-hakken">マラクジャ群島</p>
 <table>
    <tr class="footer-menu">
      <td>
        <ul>
          <li><%= link_to "・マラクジャ島", "/arms/tachi" %></li>
          <li><%= link_to "・ランバイ島", "/arms/katate" %></li>
          <li><%= link_to "・フェイジョア島", "/arms/souken" %></li>
          <li><%= link_to "・クプアス島", "/arms/hummer" %></li>
          <li><%= link_to "・カニステル島", "/arms/hue" %></li>
          <li><%= link_to "・ピタンガ島", "/arms/lance" %></li>
        </ul>
      </td>
    　</tr>
  </table>
   <p class="footer-hakken">ヴォルヒール群島</p>
  <table>
      <tr class="footer-menu">
      <td>
        <ul>
          <li><%= link_to "・トリプー島", "/arms/gunlance" %></li>
        </ul>
      </td>

    </tr>
  </table>











=======
  <h1>発見物</h1>
  <tr class="footer-menu">
    <td>
      <ul>

        <li><%= link_to "・太刀", "/arms/tachi" %></li>
        <li><%= link_to "・片手剣", "/arms/katate" %></li>
        <li><%= link_to "・双剣", "/arms/souken" %></li>
        <li><%= link_to "・ハンマー", "/arms/hummer" %></li>
        <li><%= link_to "・狩猟笛", "/arms/hue" %></li>
        <li><%= link_to "・ランス", "/arms/lance" %></li>
      </ul>

    </td>

    <td>
      <ul>
        <li><%= link_to "・ガンランス", "/arms/gunlance" %></li>
        <li><%= link_to "・スラッシュアックス", "/arms/slush" %></li>
        <li><%= link_to "・ライトボウガン", "/arms/light" %></li>
        <li><%= link_to "・ヘビィボウガン", "/arms/heavy" %></li>
        <li><%= link_to "・弓", "/arms/yumi" %></li>
        <li><%= link_to "・チャージアックス", "/arms/charge" %></li>
        <li><%= link_to "・大剣", "/arms/taiken" %></li>
      </ul>
    </td>

  </tr>
>>>>>>> 23f8be5e1933283d13175f1ad86291fcd99e0354


  <h1 id="footer-guide">初心者ガイド</h1>
  <table class="footer2">
    <tr>
      <td><%= link_to '序盤の効率を極める', "/notes/1" %></td>
    </tr>
    <tr>
      <td><%= link_to 'HRの上げ方', root_path %></td>
    </tr>
    <tr>
      <td><%= link_to '装備強化のしかた', root_path %></td>
    </tr>
    <tr>
      <td><%= link_to '狩玉はこう使え', root_path %></td>
    </tr>
  </table>


  <h1 id="footer-ninki">人気記事</h1>
  <table>
    <% @notes.each do |note| %>

        <tr>
          <td><%= link_to note.title, note_path(note.id) %></td>
        </tr>

    <% end %>
  </table>


  <h1 id="footer-menu">メニュー</h1>
  <p class="footer-hakken">武器</p>

  <table>
<<<<<<< HEAD
=======
    <tr>
      <td colspan="2"><%= link_to '武器', arms_path, :class => 'footer-menu-title' %></td>
    </tr>
>>>>>>> 23f8be5e1933283d13175f1ad86291fcd99e0354

    <tr class="footer-menu">
      <td>
        <ul>

          <li><%= link_to "・太刀", "/arms/tachi" %></li>
          <li><%= link_to "・片手剣", "/arms/katate" %></li>
          <li><%= link_to "・双剣", "/arms/souken" %></li>
          <li><%= link_to "・ハンマー", "/arms/hummer" %></li>
          <li><%= link_to "・狩猟笛", "/arms/hue" %></li>
          <li><%= link_to "・ランス", "/arms/lance" %></li>
        </ul>

      </td>

      <td>
        <ul>
          <li><%= link_to "・ガンランス", "/arms/gunlance" %></li>
          <li><%= link_to "・スラッシュアックス", "/arms/slush" %></li>
          <li><%= link_to "・ライトボウガン", "/arms/light" %></li>
          <li><%= link_to "・ヘビィボウガン", "/arms/heavy" %></li>
          <li><%= link_to "・弓", "/arms/yumi" %></li>
          <li><%= link_to "・チャージアックス", "/arms/charge" %></li>
          <li><%= link_to "・大剣", "/arms/taiken" %></li>
        </ul>
      </td>

    </tr>
  </table>
  <table>
   
   <p class="footer-hakken">防具</p>
    <tr class="footer-menu">
      <td>
        <ul>
          <li><%= link_to "・火", root_path %></li>
          <li><%= link_to "・水", root_path %></li>
          <li><%= link_to "・雷", root_path %></li>
          <li><%= link_to "・氷", root_path %></li>
          <li><%= link_to "・土", root_path %></li>
        </ul>
      </td>

      <td>
        <ul>
<<<<<<< HEAD
          <li><%= link_to "剣士", "/bougu/kenshi" %></li>
          <li><%= link_to "ガンナー", "/bougu/gunner" %></li>
          <li><%= link_to "頭", "/bougu/head" %></li>
          <li><%= link_to "☆1", "/bougu/☆1" %></li>
          <li><%= link_to "胴", "/bougu/body" %></li>
          <li><%= link_to "☆2", "/bougu/☆2" %></li>
          <li><%= link_to "腕", "/bougu/hand" %></li>
          <li><%= link_to "☆3", "/bougu/☆3" %></li>
          <li><%= link_to "腰", "/bougu/waist" %></li>
          <li><%= link_to "☆4", "/bougu/☆4" %></li>
          <li><%= link_to "脚", "/bougu/leg" %></li>

=======
          <li><%= link_to "・☆1", root_path %></li>
          <li><%= link_to "・☆2", root_path %></li>
          <li><%= link_to "・☆3", root_path %></li>
          <li><%= link_to "・☆4", root_path %></li>
>>>>>>> 23f8be5e1933283d13175f1ad86291fcd99e0354
        </ul>
      </td>
    </tr>
    

  </table>
  <ul class="footer-bottom">
    <li>トップ</li>
    <li>ヘルプ</li>
    <li>利用規約</li>
    <li>プライバシーポリシー</li>
    <li>お問い合わせ</li>
    <br>copyright (C)

  </ul>
</div>

<p1 class="kotei"> <%= link_to "ページトップ", :anchor => "footer1" %></p1>
</body>
</html>
