<!DOCTYPE html>
<!DOCTYPE html>

<html>
<table class="header-top">
  <td>aaaaaaa</td>
</table>
<head>
  <title>MonsterHunter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "pc/application_pc", media: "all" %>

  <%= csrf_meta_tags %>
</head>

<body>

<div class="all-contents">

  <div class="header" id="footer1">
    <div class="header-image"><%= image_tag('http://www.mh-xr.jp/img/thumb.jpg') %></div>

    <table>
      <th><%= link_to "メニュー", root_path %></th>
      <th><%= link_to "人気記事ww", :anchor => "footer-ninki" %></th>
      <th><%= link_to "Q&A", root_path %></th>
      <th><%= link_to "検索", root_path %></th>
      <th><%= link_to "攻略のコツ", root_path %></th>

    </table>

  </div>


  <div class="sidebar">

    <div class="sidebar-left">

      <h1 id="footer-guide">初心者ガイド</h1>
      <table class="footer2">
        <tr>
          <td><%= link_to '序盤の進め方', "/notes/1" %></td>
        </tr>
        <tr>
          <td><%= link_to 'HRの上げ方', root_path %></td>
        </tr>
        <tr>
          <td><%= link_to '強化素材', root_path %></td>
        </tr>
        <tr>
          <td><%= link_to '狩玉の入手方法', root_path %></td>
        </tr>
      </table>

      <br>

      <h1 id="footer-menu">メニュー</h1>
      <table>
        <tr>
          <td class="sidebar-midashi"><%= link_to '発見物一覧', "/発見物一覧" %></td>
        </tr>
        <tr>
          <td>
            <ul>
              <li><%= link_to "▶トリプー島", "/発見物/トリプー島" %></li>
              <li><%= link_to "▶マラクジャ島", "/発見物/マラクジャ島" %></li>
              <li><%= link_to "▶ランバイ島", "/発見物/ランバイ島" %></li>
              <li><%= link_to "▶フェイジョア島", "/発見物/フェイジョア島" %></li>
              <li><%= link_to "▶クプアス島", "/発見物/クプアス島" %></li>
              <li><%= link_to "▶カニステル島", "/発見物/カニステル島" %></li>
              <li><%= link_to "▶ピタンガ島", "/発見物/ピタンガ島" %></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="sidebar-midashi"><%= link_to '武器', arms_path %></td>
        </tr>
        <tr class="arm-menu">
          <td>
            <ul>
              <li><%= link_to "▶大剣", "/arms/taiken" %></li>
              <li><%= link_to "▶太刀", "/arms/tachi" %></li>
              <li><%= link_to "▶片手剣", "/arms/katate" %></li>
              <li><%= link_to "▶双剣", "/arms/souken" %></li>
              <li><%= link_to "▶ハンマー", "/arms/hummer" %></li>
              <li><%= link_to "▶狩猟笛", "/arms/hue" %></li>
              <li><%= link_to "▶ランス", "/arms/lance" %></li>
              <li><%= link_to "▶ガンランス", "/arms/gunlance" %></li>
              <li><%= link_to "▶スラッシュアックス", "/arms/slush" %></li>
              <li><%= link_to "▶ライトボウガン", "/arms/light" %></li>
              <li><%= link_to "▶ヘビィボウガン", "/arms/heavy" %></li>
              <li><%= link_to "▶弓", "/arms/yumi" %></li>
              <li><%= link_to "▶チャージアックス", "/arms/charge" %></li>
            </ul>
          </td>
        </tr>


        <tr>
          <td class="sidebar-midashi"><%= link_to '防具', root_path %></td>
        </tr>
        <tr class="bougu-menu">
          <td>
            <ul>
              <li><%= link_to "▶剣士", "/bougu/kenshi" %></li>
              <li><%= link_to "▶ガンナー", "/bougu/gunner" %></li>
              <li><%= link_to "▶頭", "/bougu/head" %></li>
              <li><%= link_to "▶胴", "/bougu/body" %></li>
              <li><%= link_to "▶腕", "/bougu/hand" %></li>
              <li><%= link_to "▶腰", "/bougu/waist" %></li>
              <li><%= link_to "▶脚", "/bougu/leg" %></li>
              <li><%= link_to "▶☆1", "/bougu/☆1" %></li>
              <li><%= link_to "▶☆2", "/bougu/☆2" %></li>
              <li><%= link_to "▶☆3", "/bougu/☆3" %></li>
              <li><%= link_to "▶☆4", "/bougu/☆4" %></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="sidebar-midashi"><%= link_to 'モンスター', monsters_path %></td>
        </tr>
        <tr>
          <td class="sidebar-midashi"><%= link_to 'スキル', root_path %></td>
        </tr>
      </table>
    </div>


    <div class="main">
      <h1 class="article-title">EXPLORE攻略記事</h1>
      <%= yield %>
      <div class="popular-article">
        <h1 class="kiji-title">関連記事＆人気記事</h1>
        <ul>
          <% @notes.each do |note| %>
              <% if [1, 2, 3, 4, 5, 6].include? note.id %>
                  <li><%= link_to image_tag("logo.jpg"), note_path(note.id) %>

                    <%= link_to note.title, note_path(note.id) %></li>

              <% end %>
          <% end %>
        </ul>
      </div>

    </div>


    <div class="sidebar-right">
      <h1 id="sidebar-ninki">人気記事</h1>
      <ul>
        <% @notes.each do |note| %>
            <% if File.exist? "app/assets/images/kiji/"+note.id.to_s+"-1.png" %>
                <li><%= link_to image_tag("kiji/"+note.id.to_s+"-1"), note_path(note.id) %></li>
            <% elsif File.exist? "app/assets/images/kiji/"+note.id.to_s+"-1.jpg" %>
                <li><%= link_to image_tag("kiji/"+note.id.to_s+"-1"), note_path(note.id) %></li>
            <% else %>
                <li><%= link_to image_tag("logo"), note_path(note.id) %></li>
            <% end %>
            <figcaption><%= link_to note.title, note_path(note.id) %></figcaption>

            <br>

        <% end %>
      </ul>

    </div>

  </div>

</div>

<div class=footer>
  <ul class="footer-bottom">
    <li>トップ</li>
    <li>ヘルプ</li>
    <li>利用規約</li>
    <li>プライバシーポリシー</li>
    <li>お問い合わせ</li>
    <br>copyright (C)

  </ul>
</div>
</body>


</html>
