<!DOCTYPE html>
<html>

<head>
  <title>もこりお</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="header" id="footer1">
  <div class="header-image"><%=link_to image_tag('title.jpg'),root_path %></div>
  <table>
    <th><%= link_to "攻略DB", :anchor => "footer-menu" %></th>
    <th><%= link_to "人気記事", :anchor => "footer-ninki" %></th>
    <th><%= link_to "発見物", "/発見物一覧" %></th>
    <th><%= link_to "初心者ココ！", root_path %></th>
  </table>

</div>

<body>


<div class="main">
  <%= yield %>

</div>

<div class="footer">







  <h1 id="footer-guide">初心者ガイド</h1>

  <div class="footer-guide">
    <table>
      <tr>
        <td><%= link_to '序盤の効率を極める', "/notes/1" %></td>
      </tr>
      <tr>
        <td><%= link_to 'HRの上げ方', root_path %></td>
      </tr>
      <tr>
        <td><%= link_to '装備強化のしかた', root_path %></td>
      </tr>
      <tr>
        <td><%= link_to '狩玉はこう使え', root_path %></td>
      </tr>
    </table>
  </div>


  <h1 id="footer-ninki">人気記事</h1>

  <div class="footer-ninki">
    <table>

      <% @note = Note.find(1) %>
      <tr>
        <td><%= image_tag("rank1") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(2) %>
      <tr>
        <td><%= image_tag("rank2") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(3) %>
      <tr>
        <td><%= image_tag("rank3") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(4) %>
      <tr>
        <td><%= image_tag("rank4") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(5) %>
      <tr>
        <td><%= image_tag("rank5") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>


    </table>
  </div>


  <h1 id="footer-ninki">最新記事</h1>

  <div class="footer-ninki">
    <table>

      <% @note = Note.find(1) %>
      <tr>
        <td><%= image_tag("rank1") %>
          <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(2) %>
      <tr>
        <td><%= image_tag("rank2") %>
          <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(3) %>
      <tr>
        <td><%= image_tag("rank3") %>
          <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(4) %>
      <tr>
        <td><%= image_tag("rank4") %>
          <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(5) %>
      <tr>
        <td><%= image_tag("rank5") %>
          <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>


    </table>
  </div>


  <h1 id="footer-menu">メニュー</h1>

  <p class="footer-hakken">ジャンル</p>


    

  <div class="footer-buki">
    <table>

      <tr>
        <td><%= link_to "・4chan", "/arms/tachi" %></td>
        <td><%= link_to "・reddit", "/arms/katate" %></td>
      </tr>

      <tr>
        <td><%= link_to "・ニュース", "/arms/souken" %></td>
        <td><%= link_to "・アニメ・漫画", "/arms/hummer" %></td>
      <tr>
        <td><%= link_to "・ゲーム", "/arms/hue" %></td>
        <td><%= link_to "・動物", "/arms/lance" %></td>
      </tr>
      <tr>
        <td><%= link_to "・ガジェット", "/arms/gunlance" %></td>
        <td><%= link_to "・芸能", "/arms/slush" %></td>
      </tr>
      <tr>
        <td><%= link_to "・生活", "/arms/light" %></td>
        <td><%= link_to "・学問", "/arms/heavy" %></td>
      </tr>

    </table>
  </div>






  </div>
  <ul class="footer-bottom">
    <li><%=link_to "トップ",root_path %></li>
    <li><%=link_to "ヘルプ",root_path %></li>
    <li><%=link_to "利用規約",root_path %></li>
    <li><%=link_to "プライバシーポリシー",root_path %></li>
    <li><%=link_to "お問い合わせ",root_path %></li>
    <br>copyright (C)

  </ul>
</div>

<p1 class="kotei"> <%= link_to "ページトップ", :anchor => "footer1" %></p1>
</body>
</html>
