<!DOCTYPE html>
<html>
<head>
  <title>MonsterHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header-left">エクスプロア攻略</div>
    <div class="header-right"></div>
  </div>
  <div class = "main">

  <div class="sidebar">
  <ul style="list-style:none;">
   <li><%= link_to 'トップページ', root_path %></li>
    <li><%= link_to '武器一覧',arms_path %></li>
    <li>防具一覧</li>
    <li><%= link_to 'モンスター一覧', monsters_path %></li>

  </ul>
  </div>



  <%= yield %>

  </div>
</body>
</html>
