<!DOCTYPE html>
<html>

<head>
  <title>MonsterHunter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="header" id="footer1">
  <div class="header-image"><%=link_to image_tag('title.jpg'),root_path %></div>
  <table>
    <th><%= link_to "攻略DB", :anchor => "footer-menu" %></th>
    <th><%= link_to "人気記事", :anchor => "footer-ninki" %></th>
    <th><%= link_to "発見物", "/発見物一覧" %></th>
    <th><%= link_to "初心者ココ！", root_path %></th>
  </table>

</div>

<body>


<div class="main">
  <%= yield %>

</div>

<div class="footer">



  <h1>発見物</h1>

  <p class="footer-hakken">マラクジャ群島</p>
  <table>
    <tr class="footer-menu">
      <td>
        <ul>
          <li><%= link_to "・マラクジャ島", "/発見物/マラクジャ島" %></li>
          <li><%= link_to "・ランバイ島", "/発見物/ランバイ島" %></li>
          <li><%= link_to "・フェイジョア島", "/発見物/フェイジョア島" %></li>
          <li><%= link_to "・クプアス島", "/発見物/クプアス島" %></li>
          <li><%= link_to "・カニステル島", "/発見物/カニステル島" %></li>
          <li><%= link_to "・ピタンガ島", "/発見物/ピタンガ島" %></li>
        </ul>
      </td>
      　
    </tr>
  </table>
  <p class="footer-hakken">ヴォルヒール群島</p>
  <table>
    <tr class="footer-menu">
      <td>
        <ul>
          <li><%= link_to "・トリプー島", "/発見物/トリプー島" %></li>
        </ul>
      </td>

    </tr>
  </table><br><br>






  <h1 id="footer-guide">初心者ガイド</h1>

  <div class="footer-guide">
    <table>
      <tr>
        <td><%= link_to '序盤の効率を極める', "/notes/1" %></td>
      </tr>
      <tr>
        <td><%= link_to 'HRの上げ方', root_path %></td>
      </tr>
      <tr>
        <td><%= link_to '装備強化のしかた', root_path %></td>
      </tr>
      <tr>
        <td><%= link_to '狩玉はこう使え', root_path %></td>
      </tr>
    </table>
  </div>


  <h1 id="footer-ninki">人気記事</h1>

  <div class="footer-ninki">
    <table>

      <% @note = Note.find(1) %>
      <tr>
        <td><%= image_tag("rank1") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(2) %>
      <tr>
        <td><%= image_tag("rank2") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(3) %>
      <tr>
        <td><%= image_tag("rank3") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(4) %>
      <tr>
        <td><%= image_tag("rank4") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>
      <% @note = Note.find(5) %>
      <tr>
        <td><%= image_tag("rank5") %>
        <%= link_to @note.title, note_path(@note.id) %></td>
      </tr>


    </table>
  </div>


  <h1 id="footer-menu">メニュー</h1>

  <p class="footer-hakken">武器</p>


    

  <div class="footer-buki">
    <table>

      <tr>
        <td><%= link_to "・太刀", "/arms/tachi" %></td>
        <td><%= link_to "・片手剣", "/arms/katate" %></td>
      </tr>

      <tr>
        <td><%= link_to "・双剣", "/arms/souken" %></td>
        <td><%= link_to "・ハンマー", "/arms/hummer" %></td>
      <tr>
        <td><%= link_to "・狩猟笛", "/arms/hue" %></td>
        <td><%= link_to "・ランス", "/arms/lance" %></td>
      </tr>
      <tr>
        <td><%= link_to "・ガンランス", "/arms/gunlance" %></td>
        <td><%= link_to "・スラッシュアックス", "/arms/slush" %></td>
      </tr>
      <tr>
        <td><%= link_to "・ライトボウガン", "/arms/light" %></td>
        <td><%= link_to "・ヘビィボウガン", "/arms/heavy" %></td>
      </tr>
      <tr>
        <td><%= link_to "・弓", "/arms/yumi" %></td>
        <td><%= link_to "・チャージアックス", "/arms/charge" %></td>
      </tr>
      <tr>
        <td><%= link_to "・大剣", "/arms/taiken" %></td>
      </tr>

    </table>
  </div>

  <p class="footer-hakken">防具</p>

  <div class="footer-bougu">


        <p>シリーズ</p>

      <table id="footer-bougu2">
        <td><%= link_to "・剣士", "/bougu/kenshi" %></td>
        <td><%= link_to "・ガンナー", "/bougu/gunner" %></td>
        <td></td>
        <td></td>
        <td></td>
      </table>


    <p>レア度</p>

    <table id="footer-bougu2">
      <td><%= link_to "・☆1", "/bougu/☆1" %></td>
      <td><%= link_to "・☆2", "/bougu/☆2" %></td>
      <td><%= link_to "・☆3", "/bougu/☆3" %></td>
      <td><%= link_to "・☆4", "/bougu/☆4" %></td>
      <td></td>
    </table>




        <p>属性</p>

      <table id="footer-bougu2">
        <td><%= link_to "・火", "/bougu/火" %></td>
        <td><%= link_to "・水", "/bougu/水" %></td>
        <td><%= link_to "・雷", "/bougu/雷" %></td>
        <td><%= link_to "・氷", "/bougu/氷" %></td>
        <td><%= link_to "・土", "/bougu/土" %></td>
     </table>




  </div>
  <ul class="footer-bottom">
    <li><%=link_to "トップ",root_path %></li>
    <li><%=link_to "ヘルプ",root_path %></li>
    <li><%=link_to "利用規約",root_path %></li>
    <li><%=link_to "プライバシーポリシー",root_path %></li>
    <li><%=link_to "お問い合わせ",root_path %></li>
    <br>copyright (C)

  </ul>
</div>

<p1 class="kotei"> <%= link_to "ページトップ", :anchor => "footer1" %></p1>
</body>
</html>
